<?php vh_render('hello.header', $data); ?>

<h1><?php echo $msg ?></h1>

<a href="<?php echo vh_link('hello/get/2'); ?>">GET hello/get/2</a><br />
<a href="<?php echo vh_link('hello/search_msg/les%20mis'); ?>">GET hello/search_msg/les%20mis</a><br />

<script type="text/javascript" src="<?php echo vh_slink('js/hello.js'); ?>"></script>
<div id="jsmessage"></div>

<?php vh_render('hello.footer', $data); ?>
